@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Lora&display=swap');
body {
    font-family: 'DM Sans', sans-serif;
    font-family: 'Lora', serif;
    margin: 0;
}
a {
    font-family: 'Lora', serif;
}
h1,h2,h3,h4,p {
    font-family: 'DM Sans', sans-serif;
}
.hero-section {
}
.top-bar {
    display: flex;
    width: 100%;
    border-bottom: 1px solid #dbdbdbbe;
}
.logo {
    flex-basis: 25%;
}
.logo img {
    width: 35%;
    margin-left: 70px;
}
.menu {
    flex-basis: 50%;
    margin-top: 20px;
}
.top-icon {
    flex-basis: 25%;
    margin-top: 20px;
}
ul li {
    display: inline-block;
    margin-left: 25px;
}
.menu ul li{
    list-style: none;
}
.menu ul li a {
    text-decoration: none;
    color: rgb(54, 54, 54);
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
}
.top-icon ul li {
    list-style: none;
}
.top-icon ul li i:hover{
    color: #F7A198;
    transform: .5s;
    cursor: pointer;
}
.container {
    width: 1200px;
    margin: auto;
}
.hero-images {
    margin-top: 40px;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between;
}
.hero-box {
    flex-basis: 32.5%;
    border-bottom: 2px solid orangered;
    padding-bottom: 20px;
}
.box-img{
    overflow: hidden;
}
.box-img img {
    width: 100%;
    transition: .5s;
}
.hero-box img:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.hero-box p {
    font-size: 10px;
    color: #ff3720;
}
.hero-box h3 a {
    text-decoration: none;
    color: black;
    font-size: 22px;
}
.hero-box h3 a:hover {
    color: orangered;
    transition: .5s;
}
.hero-box h3 {
    line-height: 5px;
}
.hero-box small {
    font-size: 13px;
    color: #414141;
}
.box-content {
    width: 90%;
    padding: 20px;
}
.browse-header {
    text-align: center;
    width: 200px;
    background-color: orangered;
    margin: auto;
    margin-top: px;
    padding: 15px 10px;
}
.browse-header h3 {
    display: inline;
}
.browse-header i {
    font-size: 21px;
    margin-right: 8px;
}
#browse {
    background-image: url(images/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-bottom: 100px;
}
.overly {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .8)
}
.browse-resipes {
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
}
.brose-item i {
    display: block;
    text-align: center;
    color: #fff;
    font-size: 40px;
    margin-bottom: 20px;
    transition: .2s;
}
.brose-item a {
    color: #fff;
    text-decoration: none;
    font-size: 17px;
    margin-top: 20px;
    transition: .2s;
}
.brose-item:hover a {
    color: orangered;
    cursor: pointer;
}
.brose-item:hover i {
    color: orangered;
    cursor: pointer;
}
.about-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}
.about-item {
    flex-basis: 31%;
}
.about-img img {
    width: 100%;
}
.about-item img {
    width: 100%;
}
.about-img-content {
    padding-top: 20px;
    padding-left: 20px;
}
.about-img-content a {
    text-decoration: none;
    font-size: 20px;
    color: #000; 
    transition: .1s;
}
.about-img-content a:hover{
    color: orangered;
}
.about-img-content h3 {
    line-height: 5px;
}
.about-img-content small{
    color: orangered;
    font-size: 11px;
}
.about-img-content p {
    font-size: 13px;
}
.about-left, .about-right {
    border: 1px solid #dbdbdbbe;
}
.about-self {
    text-align: center;
    margin-left: 25px;
    background-color: #F5F5F5;
    padding: 10px;
}
.about-self h2 {
    font-size: 30px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
    color: #ffb662;
}
.food {
    display: flex;
    justify-content: space-between;
}
.food-item {
    flex-basis: 60%;
}
.food-sidebar {
    flex-basis: 30%;
}
.food-img img {
    width: 100%;
    height: 260px;
}
.food-content {
    display: flex;
}
.food-img {
    flex-basis: 35%;
}
.food-des {
    flex-basis: 55%;
    margin-left: 35px;
}
.food-des small {
    font-size: 12px;
    color: orangered;
}
.food-des h3 {
    line-height: 6px;
    font-family: 'Lora';
    color: #272626;
}
.food-des span {
    font-size: 14px;
}
.food-des a {
    text-decoration: none;
    background: orangered;
    padding: 10px 30px;
    color: #fff;
}
.food-item hr {
    margin: 20px 0;
    border-top: .1px solid rgba(185, 185, 185, 0.199);
}
.food-des p {
    margin-bottom: 30px;
}